{{ header }}

<section class="common">
  <div class="common__image p-5 text-white d-flex align-items-center vh-100">
      <div class="container-fluid container-lg">
        <h1 class="display-5 fw-bold">Производство и продажа <br> автоковриков из экокожи</h1>
        <p class="col-md-8 fs-5 mt-5">Доставка по Казахстану и СНГ</p>
        <p class="col-md-8 fs-5">Изготовление за 2 дня</p>
        <p class="col-md-8 fs-5 mb-5">Закрывают 95% штатного ворса</p>
        <div class="d-grid gap-3 d-md-block">
          <button class="btn btn-primary me-md-3" type="button">Консультация</button>
          <button class="btn btn-primary" type="button">Рассчитать стоимость</button>
        </div>
      </div>
  </div>

  <section class="common__material">
      <div class="container-fluid px-0">
        <div class="row px-0 mx-0">
          <div class="col px-0">
            <img class="d-flex mx-auto" alt="3D коврики в салон автомобиля отшиваются из инновационного технологичного материала, верхний слой - экокожа" 
                srcset="./../../../../../../image/material-1.jpg 800w, 
                        ./../../../../../../image/material-1-150x150.jpg 150w, 
                        ./../../../../../../image/material-1-300x300.jpg 300w, 
                        ./../../../../../../image/material-1-320x320.jpg 320w, 
                        ./../../../../../../image/material-1-350x350.jpg 350w, 
                        ./../../../../../../image/material-1-600x600.jpg 600w" 
                        sizes="(max-width: 800px) 100vw, 800px" 
                        src="./../../../../../../image/material-1.jpg">
          </div>
        </div>
      </div>
    </section>



  <section class="common__custom">
        <h2 class="text-center my-5">Создайте свой индивидуальный стиль</h2>
        <div class="container-fluid container-xl my-5">
      <div class="row">
        <div class="col-lg-6 px-0 position-relative overflow-hidden">
          <div class="tab-content common__tab-img" id="pills-tabContent">
            <div class="tab-pane kovriki show active" id="pills-kovrik-premium-cherniy-sinyaya-strochka" role="tabpanel" aria-labelledby="pills-home-tab">
              <img class="tab-content__img h-100" src="../../../../../../image/premium/kovrik-premium-cherniy-sinyaya-strochka.jpg" alt="" srcset="">
            </div>
            <div class="tab-pane kovriki" id="pills-kovrik-premium-cherniy" role="tabpanel" aria-labelledby="pills-profile-tab"  >
              <img class="tab-content__img h-100" src="../../../../../../image/premium/kovrik-premium-cherniy.jpg" loading="lazy" alt="" srcset="">
            </div>
            <div class="tab-pane kovriki" id="pills-kovrik-premium-cherniy-krasnaya-strochka" role="tabpanel" aria-labelledby="pills-contact-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/premium/kovrik-premium-cherniy-krasnaya-strochka.jpg" loading="lazy" alt="" srcset=""></div>
            <div class="tab-pane kovriki" id="pills-kovrik-premium-cherniy-bezhevaya-strochka" role="tabpanel" aria-labelledby="pills-contact-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/premium/kovrik-premium-cherniy-bezhevaya-strochka.jpg" loading="lazy" alt="" srcset=""></div>
            <div class="tab-pane kovriki" id="pills-kovrik-premium-korichneviy-bezhevaya-strochka" role="tabpanel" aria-labelledby="pills-contact-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/premium/kovrik-premium-korichneviy.jpg" loading="lazy" alt="" srcset=""></div>
            <div class="tab-pane kovriki" id="pills-kovrik-premium-bezheviy" role="tabpanel" aria-labelledby="pills-contact-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/premium/kovrik-premium-bezheviy.jpg" loading="lazy" alt="" srcset=""></div>
            <div class="tab-pane kovriki" id="pills-kovrik-luxe-krasniy-chernaya-strochka" role="tabpanel" aria-labelledby="pills-home-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/luxe/kovrik-luxe-krasniy-chernaya-strochka.jpg" loading="lazy" alt="" srcset=""></div>
            <div class="tab-pane kovriki" id="pills-kovrik-luxe-svetlo-korichneviy-bezhevaya-strochka" role="tabpanel" aria-labelledby="pills-profile-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/luxe/kovrik-luxe-svetlo-korichneviy-bezhevaya-strochka.jpg" loading="lazy" alt="" srcset=""></div>
            <div class="tab-pane kovriki" id="pills-kovrik-luxe-korichneviy-bezhevaya-strochka" role="tabpanel" aria-labelledby="pills-contact-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/luxe/kovrik-luxe-korichneviy-bezhevaya-strochka.jpg" loading="lazy" alt="" srcset=""></div>
            <div class="tab-pane kovriki" id="pills-kovrik-luxe-seriy" role="tabpanel" aria-labelledby="pills-contact-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/luxe/kovrik-luxe-seriy.jpg" loading="lazy" alt="" srcset=""></div>
            <div class="tab-pane kovriki" id="pills-kovrik-luxe-korichneviy-korichnevaya-strochka" role="tabpanel" aria-labelledby="pills-contact-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/luxe/kovrik-luxe-korichneviy-korichnevaya-strochka.jpg" loading="lazy" alt="" srcset=""></div>
            <div class="tab-pane kovriki" id="pills-kovrik-luxe-cherniy-korichnevaya-strochka" role="tabpanel" aria-labelledby="pills-contact-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/luxe/kovrik-luxe-cherniy-korichnevaya-strochka.jpg" loading="lazy" alt="" srcset=""></div>
            <div class="tab-pane kovriki" id="pills-kovrik-luxe-bezheviy" role="tabpanel" aria-labelledby="pills-contact-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/luxe/kovrik-luxe-bezheviy.jpg" loading="lazy" alt="" srcset=""></div>
            <div class="tab-pane kovriki" id="pills-kovrik-luxe-bordoviy-bezhevaya-strochka" role="tabpanel" aria-labelledby="pills-contact-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/luxe/kovrik-luxe-svetlo-bordoviy-bezhevaya-strochka.jpg" loading="lazy" alt="" srcset=""></div>
            <div class="tab-pane kovriki" id="pills-kovrik-luxe-cherniy-krasnaya-strochka" role="tabpanel" aria-labelledby="pills-contact-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/luxe/kovrik-luxe-cherniy-krasnaya-strochka.jpg" loading="lazy" alt="" srcset=""></div>
            <div class="tab-pane kovriki" id="pills-kovrik-luxe-cherniy" role="tabpanel" aria-labelledby="pills-contact-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/luxe/kovrik-luxe-cherniy.jpg" loading="lazy" alt="" srcset=""></div>
            <div class="tab-pane kovriki" id="pills-kovrik-luxe-cherniy-bezhevaya-strochka" role="tabpanel" aria-labelledby="pills-contact-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/luxe/kovrik-luxe-cherniy-bezhevaya-strochka.jpg" loading="lazy" alt="" srcset=""></div>
            <div class="tab-pane kovriki" id="pills-kovrik-luxe-cherniy-sinyaya-strochka" role="tabpanel" aria-labelledby="pills-contact-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/luxe/kovrik-luxe-cherniy-sinyaya-strochka.jpg" loading="lazy" alt="" srcset=""></div>
            <div class="tab-pane kovriki" id="pills-kovrik-prestige-korichneviy-bezhevaya-strochka" role="tabpanel" aria-labelledby="pills-home-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/prestige/kovrik-prestige-korichneviy-bezhevaya-strochka.jpg" loading="lazy" alt="" srcset=""></div>
            <div class="tab-pane kovriki" id="pills-kovrik-prestige-cherniy-sinyaya-strochka" role="tabpanel" aria-labelledby="pills-profile-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/prestige/kovrik-prestige-cherniy-sinyaya-strochka.jpg" loading="lazy" alt="" srcset=""></div>
            <div class="tab-pane kovriki" id="pills-kovrik-prestige-cherniy-krasnaya-strochka" role="tabpanel" aria-labelledby="pills-contact-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/prestige/kovrik-prestige-cherniy-krasnaya-strochka.jpg" loading="lazy" alt="" srcset=""></div>
            <div class="tab-pane kovriki" id="pills-kovrik-prestige-cherniy-bezhevaya-strochka" role="tabpanel" aria-labelledby="pills-contact-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/prestige/kovrik-prestige-cherniy-bezhevaya-strochka.jpg" loading="lazy" alt="" srcset=""></div>
            <div class="tab-pane kovriki" id="pills-kovrik-prestige-cherniy" role="tabpanel" aria-labelledby="pills-contact-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/prestige/kovrik-prestige-cherniy.jpg" loading="lazy" alt="" srcset=""></div>
            <div class="tab-pane kovriki" id="pills-kovrik-prestige-cherniy-korichnevaya-strochka" role="tabpanel" aria-labelledby="pills-contact-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/prestige/kovrik-prestige-cherniy-korichnevaya-strochka.jpg" loading="lazy" alt="" srcset=""></div>
            <div class="tab-pane kovriki" id="pills-kovrik-prestige-bezheviy" role="tabpanel" aria-labelledby="pills-contact-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/prestige/kovrik-prestige-bezheviy.jpg" loading="lazy" alt="" srcset=""></div>
            <div class="tab-pane kovriki" id="pills-kovrik-gt-siniy" role="tabpanel" aria-labelledby="pills-home-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/gt/kovrik-gt-siniy.jpg" loading="lazy" alt="" srcset=""></div>
            <div class="tab-pane kovriki" id="pills-kovrik-gt-cherniy" role="tabpanel" aria-labelledby="pills-profile-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/gt/kovrik-gt-cherniy.jpg" loading="lazy" alt="" srcset=""></div>
            <div class="tab-pane kovriki" id="pills-kovrik-gt-korichneviy" role="tabpanel" aria-labelledby="pills-contact-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/gt/kovrik-gt-korichneviy.jpg" loading="lazy" alt="" srcset=""></div>
            <div class="tab-pane kovriki" id="pills-kovrik-gt-krasniy" role="tabpanel" aria-labelledby="pills-contact-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/gt/kovrik-gt-krasniy.jpg" loading="lazy" alt="" srcset=""></div>
            <div class="tab-pane kovriki" id="pills-kovrik-gt-bezheviy" role="tabpanel" aria-labelledby="pills-contact-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/gt/kovrik-gt-bezheviy.jpg" loading="lazy" alt="" srcset=""></div>
          </div>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane vors" id="pills-vors-pvh-krasno-cherniy" role="tabpanel" aria-labelledby="pills-home-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/vors/pvh/vors-pvh-krasno-cherniy.png" alt="" srcset="" loading="lazy"></div>
            <div class="tab-pane vors" id="pills-vors-pvh-bezhevo-korichneviy" role="tabpanel" aria-labelledby="pills-profile-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/vors/pvh/vors-pvh-bezhevo-korichneviy.png" alt="" srcset="" loading="lazy"></div>
            <div class="tab-pane vors" id="pills-vors-pvh-sero-cherniy" role="tabpanel" aria-labelledby="pills-contact-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/vors/pvh/vors-pvh-sero-cherniy.png" alt="" srcset="" loading="lazy"></div>
            <div class="tab-pane vors" id="pills-vors-pvh-bezheviy" role="tabpanel" aria-labelledby="pills-contact-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/vors/pvh/vors-pvh-bezheviy.png" alt="" srcset="" loading="lazy"></div>
            <div class="tab-pane vors" id="pills-vors-pvh-temno-korichneviy" role="tabpanel" aria-labelledby="pills-contact-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/vors/pvh/vors-pvh-temno-korichneviy.png" alt="" srcset="" loading="lazy"></div>
            <div class="tab-pane vors" id="pills-vors-pvh-cherniy.png" role="tabpanel" aria-labelledby="pills-contact-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/vors/pvh/vors-pvh-cherniy.png" alt="" srcset="" loading="lazy"></div>
            <div class="tab-pane vors" id="pills-vors-pvh-mini-seriy" role="tabpanel" aria-labelledby="pills-home-tab"  ><img class="tab-content__img h-100" src="../../../../../../image/vors/pvh-mini/vors-pvh-mini-seriy.png" alt="" srcset="" loading="lazy"></div>
            <div class="tab-pane vors" id="pills-vors-pvh-mini-bezheviy" role="tabpanel" aria-labelledby="pills-vors-pvh-mini-bezheviy"  ><img class="tab-content__img h-100" src="../../../../../../image/vors/pvh-mini/vors-pvh-mini-bezheviy.png" alt="" srcset="" loading="lazy"></div>
            <div class="tab-pane vors" id="pills-vors-pvh-mini-krasniy" role="tabpanel" aria-labelledby="pills-vors-pvh-mini-krasniy"  ><img class="tab-content__img h-100" src="../../../../../../image/vors/pvh-mini/vors-pvh-mini-krasniy.png" alt="" srcset="" loading="lazy"></div>
            <div class="tab-pane vors" id="pills-vors-pvh-mini-temno-korichneviy" role="tabpanel" aria-labelledby="pills-vors-pvh-mini-temno-korichneviy"  ><img class="tab-content__img h-100" src="../../../../../../image/vors/pvh-mini/vors-pvh-mini-temno-korichneviy.png" alt="" srcset="" loading="lazy"></div>
            <div class="tab-pane vors" id="pills-vors-pvh-mini-cherno-krasniy" role="tabpanel" aria-labelledby="pills-vors-pvh-mini-cherno-krasniy"  ><img class="tab-content__img h-100" src="../../../../../../image/vors/pvh-mini/vors-pvh-mini-cherno-krasniy.png" alt="" srcset="" loading="lazy"></div>
            <div class="tab-pane vors" id="pills-vors-pvh-min-cherniy.png" role="tabpanel" aria-labelledby="pills-vors-pvh-mini-cherniy"  ><img class="tab-content__img h-100" src="../../../../../../image/vors/pvh-mini/vors-pvh-mini-cherniy.png" alt="" srcset="" loading="lazy"></div>
            <div class="tab-pane vors" id="pills-vors-luzhaika-seriy" role="tabpanel" aria-labelledby="pills-vors-luzhaika-seriy"  ><img class="tab-content__img h-100" src="../../../../../../image/vors/luzhaika/vors-luzhaika-seriy.png" alt="" srcset="" loading="lazy"></div>
            <div class="tab-pane vors" id="pills-vors-luzhaika-svetlo-korichneviy" role="tabpanel" aria-labelledby="pills-vors-luzhaika-svetlo-korichneviy"  ><img class="tab-content__img h-100" src="../../../../../../image/vors/luzhaika/vors-luzhaika-svetlo-korichneviy.png" alt="" srcset="" loading="lazy"></div>
            <div class="tab-pane vors" id="pills-vors-luzhaika-krasniy" role="tabpanel" aria-labelledby="pills-vors-luzhaika-krasniy"  ><img class="tab-content__img h-100" src="../../../../../../image/vors/luzhaika/vors-luzhaika-krasniy.png" alt="" srcset="" loading="lazy"></div>
            <div class="tab-pane vors" id="pills-vors-luzhaika-bezheviy" role="tabpanel" aria-labelledby="pills-vors-luzhaika-bezheviy"  ><img class="tab-content__img h-100" src="../../../../../../image/vors/luzhaika/vors-luzhaika-bezheviy.png" alt="" srcset="" loading="lazy"></div>
            <div class="tab-pane vors" id="pills-vors-luzhaika-temno-korichneviy" role="tabpanel" aria-labelledby="pills-vors-luzhaika-temno-korichneviy"  ><img class="tab-content__img h-100" src="../../../../../../image/vors/luzhaika/vors-luzhaika-temno-korichneviy.png" alt="" srcset="" loading="lazy"></div>
            <div class="tab-pane vors" id="pills-vors-luzhaika-cherniy" role="tabpanel" aria-labelledby="pills-vors-luzhaika-cherniy"  ><img class="tab-content__img h-100" src="../../../../../../image/vors/luzhaika/vors-luzhaika-cherniy.png" alt="" srcset="" loading="lazy"></div>
            <div class="tab-pane vors" id="pills-vors-barhat-svetlo-korichneviy" role="tabpanel" aria-labelledby="pills-vors-barhat-svetlo-korichneviy"  ><img class="tab-content__img h-100" src="../../../../../../image/vors/barhat/vors-barhat-svetlo-korichneviy.png" alt="" srcset="" loading="lazy"></div>
            <div class="tab-pane vors" id="pills-vors-barhat-korichneviy-s-poloskami" role="tabpanel" aria-labelledby="pills-vors-barhat-korichneviy-s-poloskami"  ><img class="tab-content__img h-100" src="../../../../../../image/vors/barhat/vors-barhat-korichneviy-s-poloskami.png" alt="" srcset="" loading="lazy"></div>
            <div class="tab-pane vors" id="pills-vors-barhat-cherniy-s-poloskami" role="tabpanel" aria-labelledby="pills-vors-barhat-cherniy-s-poloskami"  ><img class="tab-content__img h-100" src="../../../../../../image/vors/barhat/vors-barhat-cherniy-s-poloskami.png" alt="" srcset="" loading="lazy"></div>
            <div class="tab-pane vors" id="pills-vors-barhat-krasniy" role="tabpanel" aria-labelledby="pills-vors-barhat-krasniy"  ><img class="tab-content__img h-100" src="../../../../../../image/vors/barhat/vors-barhat-krasniy.png" alt="" srcset="" loading="lazy"></div>
            <div class="tab-pane vors" id="pills-vors-barhat-temno-korichneviy" role="tabpanel" aria-labelledby="pills-vors-barhat-temno-korichneviy"  ><img class="tab-content__img h-100" src="../../../../../../image/vors/barhat/vors-barhat-temno-korichneviy.png" alt="" srcset="" loading="lazy"></div>
            <div class="tab-pane vors" id="pills-vors-barhat-cherniy" role="tabpanel" aria-labelledby="pills-vors-barhat-cherniy"  ><img class="tab-content__img h-100" src="../../../../../../image/vors/barhat/vors-barhat-cherniy.png" alt="" srcset="" loading="lazy"></div>
            <div class="tab-pane vors" id="pills-vors-barhat-myagkiy-cherniy-s-poloskami" role="tabpanel" aria-labelledby="pills-vors-barhat-myagkiy-cherniy-s-poloskami"  ><img class="tab-content__img h-100" src="../../../../../../image/vors/barhat-m/vors-barhat-myagkiy-cherniy-s-poloskami.png" alt="" srcset="" loading="lazy"></div>
            <div class="tab-pane vors" id="pills-vors-barhat-myagkiy-korichneviy-s-poloskami" role="tabpanel" aria-labelledby="pills-vors-barhat-korichneviy-s-poloskami"  ><img class="tab-content__img h-100" src="../../../../../../image/vors/barhat-m/vors-barhat-myagkiy-korichneviy-s-poloskami.png" alt="" srcset="" loading="lazy"></div>
            <div class="tab-pane vors" id="pills-vors-barhat-myagkiy-temno-korichneviy" role="tabpanel" aria-labelledby="pills-vors-barhat-temno-korichneviy"  ><img class="tab-content__img h-100" src="../../../../../../image/vors/barhat-m/vors-barhat-myagkiy-temno-korichneviy.png" alt="" srcset="" loading="lazy"></div>
            <div class="tab-pane vors" id="pills-vors-barhat-myagkiy-krasniy" role="tabpanel" aria-labelledby="pills-vors-barhat-myagkiy-krasniy"  ><img class="tab-content__img h-100" src="../../../../../../image/vors/barhat-m/vors-barhat-myagkiy-krasniy.png" alt="" srcset="" loading="lazy"></div>
            <div class="tab-pane vors" id="pills-vors-barhat-myagkiy-bezheviy" role="tabpanel" aria-labelledby="pills-vors-barhat-myagkiy-bezheviy"  ><img class="tab-content__img h-100" src="../../../../../../image/vors/barhat-m/vors-barhat-myagkiy-bezheviy.png" alt="" srcset="" loading="lazy"></div>
            <div class="tab-pane vors" id="pills-vors-barhat-myagkiy-svetlo-korichneviy" role="tabpanel" aria-labelledby="pills-vors-barhat-myagkiy-svetlo-korichneviy"  ><img class="tab-content__img h-100" src="../../../../../../image/vors/barhat-m/vors-barhat-myagkiy-svetlo-korichneviy.png" alt="" srcset="" loading="lazy"></div>
            <div class="tab-pane vors" id="pills-vors-barhat-myagkiy-cherniy" role="tabpanel" aria-labelledby="pills-vors-barhat-myagkiy-svetlocherniy"  ><img class="tab-content__img h-100" src="../../../../../../image/vors/barhat-m/vors-barhat-myagkiy-cherniy.png" alt="" srcset="" loading="lazy"></div>
            <div class="tab-pane vors" id="pills-vors-barhat-myagkiy-siniy" role="tabpanel" aria-labelledby="pills-vors-barhat-myagkiy-siniy"  ><img class="tab-content__img h-100" src="../../../../../../image/vors/barhat-m/vors-barhat-myagkiy-siniy.png" alt="" srcset="" loading="lazy"></div>
          </div>
        </div>
        <div class="col-lg-6">

          <h5 class="text-center my-3">Подберите стиль ковриков</h5>
          <ul class="nav nav-pills nav-justified mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="pills-premium-tab" data-bs-toggle="pill" data-bs-target="#pills-premium" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Премиум</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-lux-tab" data-bs-toggle="pill" data-bs-target="#pills-lux" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Люкс</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-prestige-tab" data-bs-toggle="pill" data-bs-target="#pills-prestige" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Престиж</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-gt-tab" data-bs-toggle="pill" data-bs-target="#pills-gt" type="button" role="tab" aria-controls="pills-gt" aria-selected="false">GT</button>
            </li>
          </ul>

          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane show active" id="pills-premium" role="tabpanel" aria-labelledby="pills-premium-tab">
              <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-kovrik-premium-cherniy-sinyaya-strochka" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><img class="active" alt="Премиум чёрный с синей строчкой" title="Премиум чёрный с синей строчкой" src="../../../../../../image/premium/kovrik-premium-cherniy-sinyaya-strochka-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-kovrik-premium-cherniy" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"><img class="active" alt="Премиум чёрный с черной строчкой" title="Премиум чёрный с черной строчкой" src="../../../../../../image/premium/kovrik-premium-cherniy-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-kovrik-premium-cherniy-krasnaya-strochka" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><img class="active" alt="Премиум чёрный с красной строчкой" title="Премиум чёрный с красной строчкой" src="../../../../../../image/premium/kovrik-premium-cherniy-krasnaya-strochka-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-kovrik-premium-cherniy-bezhevaya-strochka" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><img class="active" alt="Премиум чёрный с бежевой строчкой" title="Премиум чёрный с бежевой строчкой" src="../../../../../../image/premium/kovrik-premium-cherniy-bezhevaya-strochka-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-kovrik-premium-korichneviy-bezhevaya-strochka" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><img class="active" alt="Премиум коричневый с бежевой строчкой" title="Премиум коричневый с бежевой строчкой" src="../../../../../../image/premium/kovrik-premium-korichneviy-bezhevaya-strochka-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-kovrik-premium-bezheviy" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><img class="active" alt="Премиум бежевый с бежевой строчкой" title="Премиум бежевый с бежевой строчкой" src="../../../../../../image/premium/kovrik-premium-bezheviy-mini.jpg" height="50" width="50"></button>
                </li>
              </ul>
            </div>

            <div class="tab-pane " id="pills-lux" role="tabpanel" aria-labelledby="pills-lux-tab">
              <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-kovrik-luxe-krasniy-chernaya-strochka" type="button" role="tab" aria-controls="pills-home" aria-selected="true"><img class="active" alt="Люкс красный с чёрной строчкой" title="Люкс красный с чёрной строчкой" src="../../../../../../image/luxe/kovrik-luxe-krasniy-chernaya-strochka-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-kovrik-luxe-svetlo-korichneviy-bezhevaya-strochka" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"><img class="active" alt="Люкс светло-коричневый с бежевой строчкой" title="Люкс светло-коричневый с бежевой строчкой" src="../../../../../../image/luxe/kovrik-luxe-svetlo-korichneviy-bezhevaya-strochka-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-kovrik-luxe-korichneviy-bezhevaya-strochka" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><img class="active" alt="Люкс тёмно-коричневый с бежевой строчкой" title="Люкс тёмно-коричневый с бежевой строчкой" src="../../../../../../image/luxe/kovrik-luxe-korichneviy-bezhevaya-strochka-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-kovrik-luxe-seriy" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><img class="active" alt="Люкс серый с бежевой строчкой" title="Люкс серый с бежевой строчкой" src="../../../../../../image/luxe/kovrik-luxe-seriy-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-kovrik-luxe-korichneviy-korichnevaya-strochka" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><img class="active" alt="Люкс тёмно-коричневый с коричневой строчкой" title="Люкс тёмно-коричневый с коричневой строчкой" src="../../../../../../image/luxe/kovrik-luxe-korichneviy-korichnevaya-strochka-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-kovrik-luxe-cherniy-korichnevaya-strochka" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><img class="active" alt="Люкс чёрный с коричневой строчкой" title="Люкс чёрный с коричневой строчкой" src="../../../../../../image/luxe/kovrik-luxe-cherniy-korichnevaya-strochka-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-kovrik-luxe-bezheviy" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><img class="active" alt="Люкс бежевый с бежевой строчкой" title="Люкс бежевый с бежевой строчкой" src="../../../../../../image/luxe/kovrik-luxe-bezheviy-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-kovrik-luxe-bordoviy-bezhevaya-strochka" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><img class="active" alt="Люкс красный с бежевой строчкой" title="Люкс красный с бежевой строчкой" src="../../../../../../image/luxe/kovrik-luxe-bordoviy-bezhevaya-strochka-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-kovrik-luxe-cherniy-krasnaya-strochka" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><img class="active" alt="Люкс чёрный с красной строчкой" title="Люкс чёрный с красной строчкой" src="../../../../../../image/luxe/kovrik-luxe-cherniy-krasnaya-strochka-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-kovrik-luxe-cherniy" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><img class="active" alt="Люкс чёрный с чёрной строчкой" title="Люкс чёрный с чёрной строчкой" src="../../../../../../image/luxe/kovrik-luxe-cherniy-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-kovrik-luxe-cherniy-bezhevaya-strochka" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><img class="active" alt="Люкс чёрный с бежевой строчкой" title="Люкс чёрный с бежевой строчкой" src="../../../../../../image/luxe/kovrik-luxe-cherniy-bezhevaya-strochka-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-kovrik-luxe-cherniy-sinyaya-strochka" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><img class="active" alt="Люкс чёрный с синей строчкой" title="Люкс чёрный с синей строчкой" src="../../../../../../image/luxe/kovrik-luxe-cherniy-sinyaya-strochka-mini.jpg" height="50" width="50"></button>
                </li>
              </ul>
            </div>
            <div class="tab-pane " id="pills-prestige" role="tabpanel" aria-labelledby="pills-prestige-tab">
              <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-kovrik-prestige-korichneviy-bezhevaya-strochka" type="button" role="tab" aria-controls="pills-home" aria-selected="true"><img class="active" alt="Престиж тёмно - коричневый с бежевой строчкой" title="Престиж тёмно - коричневый с бежевой строчкой" src="../../../../../../image/prestige/kovrik-prestige-korichneviy-bezhevaya-strochka-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-kovrik-prestige-cherniy-sinyaya-strochka" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"><img class="active" alt="Престиж чёрный с синей строчкой" title="Престиж чёрный с синей строчкой" src="../../../../../../image/prestige/kovrik-prestige-cherniy-sinyaya-strochka-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-kovrik-prestige-cherniy-krasnaya-strochka" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><img class="active" alt="Премиум бежевый с бежевой строчкой" title="Престиж черный с красной строчкой" src="../../../../../../image/prestige/kovrik-prestige-cherniy-krasnaya-strochka-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-kovrik-prestige-cherniy-bezhevaya-strochka" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><img class="active" alt="Престиж черный с бежевой / золотистой строчкой" title="Престиж черный с бежевой / золотистой строчкой" src="../../../../../../image/prestige/kovrik-prestige-cherniy-bezhevaya-strochka-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-kovrik-prestige-cherniy" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><img class="active" alt="Престиж чёрный с чёрной строчкой" title="Престиж чёрный с чёрной строчкой" src="../../../../../../image/prestige/kovrik-prestige-cherniy-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-kovrik-prestige-cherniy-korichnevaya-strochka" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><img class="active" alt="Престиж черный с коричневой строчкой" title="Престиж черный с коричневой строчкой" src="../../../../../../image/prestige/kovrik-prestige-cherniy-korichnevaya-strochka-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-kovrik-prestige-bezheviy" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><img class="active" alt="Престиж бежевый с бежевой / золотистой строчкой" title="Престиж бежевый с бежевой / золотистой строчкой" src="../../../../../../image/prestige/kovrik-prestige-bezheviy-mini.jpg" height="50" width="50"></button>
                </li>
              </ul>
            </div>
            <div class="tab-pane " id="pills-gt" role="tabpanel" aria-labelledby="pills-gt-tab">
              <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-kovrik-gt-siniy" type="button" role="tab" aria-controls="pills-home" aria-selected="true"><img class="active" alt="GT синий с синей строчкой" title="GT синий с синей строчкой" src="../../../../../../image/gt/kovrik-gt-siniy-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-kovrik-gt-cherniy" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"><img class="active" alt="GT чёрный с чёрной строчкой" title="GT чёрный с чёрной строчкой" src="../../../../../../image/gt/kovrik-gt-cherniy-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-kovrik-gt-korichneviy" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><img class="active" alt="GT тёмно-коричневый с коричневой строчкой" title="GT тёмно-коричневый с коричневой строчкой" src="../../../../../../image/gt/kovrik-gt-korichneviy-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-kovrik-gt-krasniy" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><img class="active" alt="GT бордовый с бордовой строчкой" title="GT бордовый с бордовой строчкой" src="../../../../../../image/gt/kovrik-gt-krasniy-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-kovrik-gt-bezheviy" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><img class="active" alt="GT бежевый с бежевой / золотистой строчкой" title="GT бежевый с бежевой / золотистой строчкой" src="../../../../../../image/gt/kovrik-gt-bezheviy-mini.jpg" height="50" width="50"></button>
                </li>
              </ul>
            </div>
          </div>
          <h5 class="text-center my-3">Подберите дополнительныйы ворс</h5>
          <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link closeTab show active" id="pills-no-item-tab" data-bs-toggle="pill" type="button" role="tab" aria-controls="pills-no-item" aria-selected="true">Нет</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-pvh-tab" data-bs-toggle="pill" data-bs-target="#pills-pvh" type="button" role="tab" aria-controls="pills-pills-pvh" aria-selected="false">ПВХ</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-pvh-mini-tab" data-bs-toggle="pill" data-bs-target="#pills-pvh-mini" type="button" role="tab" aria-controls="pills-pvh-mini" aria-selected="false">ПВХ мини</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-luzhaika-tab" data-bs-toggle="pill" data-bs-target="#pills-luzhaika" type="button" role="tab" aria-controls="pills-luzhaika" aria-selected="false">Лужайка</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-barhat-tab" data-bs-toggle="pill" data-bs-target="#pills-barhat" type="button" role="tab" aria-controls="pills-barhat" aria-selected="false">Бархат</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-barhat-m-tab" data-bs-toggle="pill" data-bs-target="#pills-barhat-m" type="button" role="tab" aria-controls="pills-barhat-m" aria-selected="false">Бархат мягкий</button>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="vors-picker tab-pane  show active" id="pills-no-item" role="tabpanel" aria-labelledby="pills-premium-tab"></div>
            <div class="vors-picker tab-pane " id="pills-pvh" role="tabpanel" aria-labelledby="pills-pvh-tab">
              <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-vors-pvh-krasno-cherniy" data-bs-toggle="pill" data-bs-target="#pills-vors-pvh-krasno-cherniy" type="button" role="tab" aria-controls="pills-vors-pvh-krasno-cherniy" aria-selected="false"><img class="active" alt="Премиум чёрный с синей строчкой" title="Премиум чёрный с синей строчкой" src="../../../../../../image/vors/pvh/vors-pvh-krasno-cherniy-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-vors-pvh-bezhevo-korichneviy" data-bs-toggle="pill" data-bs-target="#pills-vors-pvh-bezhevo-korichneviy" type="button" role="tab" aria-controls="pills-vors-pvh-bezhevo-korichneviy" aria-selected="false"><img class="active" alt="Премиум чёрный с черной строчкой" title="Премиум чёрный с черной строчкой" src="../../../../../../image/vors/pvh/vors-pvh-bezhevo-korichneviy-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-vors-pvh-sero-cherniy" data-bs-toggle="pill" data-bs-target="#pills-vors-pvh-sero-cherniy" type="button" role="tab" aria-controls="pills-vors-pvh-sero-cherniy" aria-selected="false"><img class="active" alt="Премиум чёрный с красной строчкой" title="Премиум чёрный с красной строчкой" src="../../../../../../image/vors/pvh/vors-pvh-sero-cherniy-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-vors-pvh-bezheviy" data-bs-toggle="pill" data-bs-target="#pills-vors-pvh-bezheviy" type="button" role="tab" aria-controls="pills-vors-pvh-bezheviy" aria-selected="false"><img class="active" alt="Премиум чёрный с бежевой строчкой" title="Премиум чёрный с бежевой строчкой" src="../../../../../../image/vors/pvh/vors-pvh-bezheviy-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-vors-pvh-korichneviy" data-bs-toggle="pill" data-bs-target="#pills-vors-pvh-temno-korichneviy" type="button" role="tab" aria-controls="pills-vors-pvh-korichneviy" aria-selected="false"><img class="active" alt="Премиум коричневый с бежевой строчкой" title="Премиум коричневый с бежевой строчкой" src="../../../../../../image/vors/pvh/vors-pvh-korichneviy-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-vors-pvh-cherniy" data-bs-toggle="pill" data-bs-target="#pills-vors-pvh-cherniy" type="button" role="tab" aria-controls="pills-vors-pvh-cherniy" aria-selected="false"><img class="active" alt="Премиум бежевый с бежевой строчкой" title="Премиум бежевый с бежевой строчкой" src="../../../../../../image/vors/pvh/vors-pvh-cherniy-mini.jpg" height="50" width="50"></button>
                </li>
              </ul>
            </div>
            <div class="vors-picker tab-pane " id="pills-pvh-mini" role="tabpanel" aria-labelledby="pills-pvh-mini">
              <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-vors-pvh-mini-seriy-tab" data-bs-toggle="pill" data-bs-target="#pills-vors-pvh-mini-seriy" type="button" role="tab" aria-controls="pills-vors-pvh-mini-seriy-tab" aria-selected="true"><img class="active" alt="Люкс красный с чёрной строчкой" title="Люкс красный с чёрной строчкой" src="../../../../../../image/vors/pvh-mini/vors-pvh-mini-seriy-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-vors-pvh-mini-bezheviy-tab" data-bs-toggle="pill" data-bs-target="#pills-vors-pvh-mini-bezheviy" type="button" role="tab" aria-controls="pills-vors-pvh-mini-bezheviy-tab" aria-selected="false"><img class="active" alt="Люкс светло-коричневый с бежевой строчкой" title="Люкс светло-коричневый с бежевой строчкой" src="../../../../../../image/vors/pvh-mini/vors-pvh-mini-bezheviy-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-vors-pvh-mini-krasniy-tab" data-bs-toggle="pill" data-bs-target="#pills-vors-pvh-mini-krasniy" type="button" role="tab" aria-controls="pills-vors-pvh-mini-krasniy-tab" aria-selected="false"><img class="active" alt="Люкс тёмно-коричневый с бежевой строчкой" title="Люкс тёмно-коричневый с бежевой строчкой" src="../../../../../../image/vors/pvh-mini/vors-pvh-mini-krasniy-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-vors-pvh-mini-temno-korichneviy-tab" data-bs-toggle="pill" data-bs-target="#pills-vors-pvh-mini-temno-korichneviy" type="button" role="tab" aria-controls="pills-vors-pvh-mini-temno-korichneviy-tab" aria-selected="false"><img class="active" alt="Люкс серый с бежевой строчкой" title="Люкс серый с бежевой строчкой" src="../../../../../../image/vors/pvh-mini/vors-pvh-mini-temno-korichneviy-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-vors-pvh-mini-cherno-krasniy-tab" data-bs-toggle="pill" data-bs-target="#pills-vors-pvh-mini-cherno-krasniy" type="button" role="tab" aria-controls="pills-vors-pvh-mini-cherno-krasniy-tab" aria-selected="false"><img class="active" alt="Люкс тёмно-коричневый с коричневой строчкой" title="Люкс тёмно-коричневый с коричневой строчкой" src="../../../../../../image/vors/pvh-mini/vors-pvh-mini-cherno-krasniy-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-vors-pvh-mini-cherniy-tab" data-bs-toggle="pill" data-bs-target="#pills-vors-pvh-mini-cherniy" type="button" role="tab" aria-controls="pills-vors-pvh-mini-cherniy-tab" aria-selected="false"><img class="active" alt="Люкс чёрный с коричневой строчкой" title="Люкс чёрный с коричневой строчкой" src="../../../../../../image/vors/pvh-mini/vors-pvh-mini-cherniy-mini.jpg" height="50" width="50"></button>
                </li>
              </ul>
            </div>
            <div class="vors-picker tab-pane " id="pills-luzhaika" role="tabpanel" aria-labelledby="pills-luzhaika-tab">
              <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-vors-luzhaika-seriy-btn" data-bs-toggle="pill" data-bs-target="#pills-vors-luzhaika-seriy" type="button" role="tab" aria-controls="pills-vors-luzhaika-seriy-btn" aria-selected="true"><img class="active" alt="Престиж тёмно - коричневый с бежевой строчкой" title="Престиж тёмно - коричневый с бежевой строчкой" src="../../../../../../image/vors/luzhaika/vors-luzhaika-seriy-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-vors-luzhaika-svetlo-korichneviy-btn" data-bs-toggle="pill" data-bs-target="#pills-vors-luzhaika-svetlo-korichneviy" type="button" role="tab" aria-controls="pills-vors-luzhaika-svetlo-korichneviy-btn" aria-selected="false"><img class="active" alt="Престиж чёрный с синей строчкой" title="Престиж чёрный с синей строчкой" src="../../../../../../image/vors/luzhaika/vors-luzhaika-svetlo-korichneviy-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-vors-luzhaika-krasniy-btn" data-bs-toggle="pill" data-bs-target="#pills-vors-luzhaika-krasniy" type="button" role="tab" aria-controls="pills-vors-luzhaika-krasniy-btn" aria-selected="false"><img class="active" alt="Премиум бежевый с бежевой строчкой" title="Престиж черный с красной строчкой" src="../../../../../../image/vors/luzhaika/vors-luzhaika-krasniy-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-vors-luzhaika-bezheviy-btn" data-bs-toggle="pill" data-bs-target="#pills-vors-luzhaika-bezheviy" type="button" role="tab" aria-controls="pills-vors-luzhaika-bezheviy-btn" aria-selected="false"><img class="active" alt="Престиж черный с бежевой / золотистой строчкой" title="Престиж черный с бежевой / золотистой строчкой" src="../../../../../../image/vors/luzhaika/vors-luzhaika-bezheviy-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-vors-luzhaika-temno-korichneviy-btn" data-bs-toggle="pill" data-bs-target="#pills-vors-luzhaika-temno-korichneviy" type="button" role="tab" aria-controls="pills-vors-luzhaika-temno-korichneviy-btn" aria-selected="false"><img class="active" alt="Престиж черный с коричневой строчкой" title="Престиж черный с коричневой строчкой" src="../../../../../../image/vors/luzhaika/vors-luzhaika-temno-korichneviy-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-vors-luzhaika-cherniy-btn" data-bs-toggle="pill" data-bs-target="#pills-vors-luzhaika-cherniy" type="button" role="tab" aria-controls="pills-vors-luzhaika-cherniy-btn" aria-selected="false"><img class="active" alt="Престиж бежевый с бежевой / золотистой строчкой" title="Престиж бежевый с бежевой / золотистой строчкой" src="../../../../../../image/vors/luzhaika/vors-luzhaika-cherniy-mini.jpg" height="50" width="50"></button>
                </li>
              </ul>
            </div>
            <div class="vors-picker tab-pane " id="pills-barhat" role="tabpanel" aria-labelledby="pills-barhat-tab">
              <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-vors-barhat-svetlo-korichneviy-btn" data-bs-toggle="pill" data-bs-target="#pills-vors-barhat-svetlo-korichneviy" type="button" role="tab" aria-controls="pills-vors-barhat-svetlo-korichneviy-btn" aria-selected="true"><img class="active" alt="Престиж тёмно - коричневый с бежевой строчкой" title="Престиж тёмно - коричневый с бежевой строчкой" src="../../../../../../image/vors/barhat/vors-barhat-svetlo-korichneviy-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-vors-barhat-korichneviy-s-poloskami-btn" data-bs-toggle="pill" data-bs-target="#pills-vors-barhat-korichneviy-s-poloskami" type="button" role="tab" aria-controls="pills-vors-barhat-korichneviy-s-poloskami-btn" aria-selected="false"><img class="active" alt="Престиж чёрный с синей строчкой" title="Престиж чёрный с синей строчкой" src="../../../../../../image/vors/barhat/vors-barhat-korichneviy-s-poloskami-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-vors-barhat-cherniy-s-poloskami-btn" data-bs-toggle="pill" data-bs-target="#pills-vors-barhat-cherniy-s-poloskami" type="button" role="tab" aria-controls="pills-vors-barhat-cherniy-s-poloskami" aria-selected="false"><img class="active" alt="Премиум бежевый с бежевой строчкой" title="Престиж черный с красной строчкой" src="../../../../../../image/vors/barhat/vors-barhat-cherniy-s-poloskami-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-vors-barhat-krasniy-btn" data-bs-toggle="pill" data-bs-target="#pills-vors-barhat-krasniy" type="button" role="tab" aria-controls="pills-vors-barhat-krasniy" aria-selected="false"><img class="active" alt="Престиж черный с бежевой / золотистой строчкой" title="Престиж черный с бежевой / золотистой строчкой" src="../../../../../../image/vors/barhat/vors-barhat-krasniy-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-vors-barhat-temno-korichneviy-btn" data-bs-toggle="pill" data-bs-target="#pills-vors-barhat-temno-korichneviy" type="button" role="tab" aria-controls="pills-vors-barhat-temno-korichneviy" aria-selected="false"><img class="active" alt="Престиж черный с коричневой строчкой" title="Престиж черный с коричневой строчкой" src="../../../../../../image/vors/barhat/vors-barhat-temno-korichneviy-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-vors-barhat-cherniy-btn" data-bs-toggle="pill" data-bs-target="#pills-vors-barhat-cherniy" type="button" role="tab" aria-controls="pills-vors-barhat-cherniy-btn" aria-selected="false"><img class="active" alt="Престиж бежевый с бежевой / золотистой строчкой" title="Престиж бежевый с бежевой / золотистой строчкой" src="../../../../../../image/vors/barhat/vors-barhat-cherniy-mini.jpg" height="50" width="50"></button>
                </li>
              </ul>
            </div>
            <div class="vors-picker tab-pane " id="pills-barhat-m" role="tabpanel" aria-labelledby="pills-barhat-myagkiy-tab">
              <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-vors-barhat-myagkiy-cherniy-s-poloskami-btn" data-bs-toggle="pill" data-bs-target="#pills-vors-barhat-myagkiy-cherniy-s-poloskami" type="button" role="tab" aria-controls="pills-vors-barhat-myagkiy-cherniy-s-poloskami-btn" aria-selected="true"><img class="active" alt="Престиж тёмно - коричневый с бежевой строчкой" title="Престиж тёмно - коричневый с бежевой строчкой" src="../../../../../../image/vors/barhat-m/vors-barhat-myagkiy-cherniy-s-poloskami-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-vors-barhat-myagkiy-korichneviy-s-poloskami-btn" data-bs-toggle="pill" data-bs-target="#pills-vors-barhat-myagkiy-korichneviy-s-poloskami" type="button" role="tab" aria-controls="pills-vors-barhat-myagkiy-korichneviy-s-poloskami-btn" aria-selected="false"><img class="active" alt="Престиж чёрный с синей строчкой" title="Престиж чёрный с синей строчкой" src="../../../../../../image/vors/barhat-m/vors-barhat-myagkiy-korichneviy-s-poloskami-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-vors-barhat-myagkiy-temno-korichneviy-btn" data-bs-toggle="pill" data-bs-target="#pills-vors-barhat-myagkiy-temno-korichneviy" type="button" role="tab" aria-controls="pills-vors-barhat-myagkiy-temno-korichneviy-btn" aria-selected="false"><img class="active" alt="Премиум бежевый с бежевой строчкой" title="Престиж черный с красной строчкой" src="../../../../../../image/vors/barhat-m/vors-barhat-myagkiy-temno-korichneviy-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-vors-barhat-myagkiy-myagkiy-btn" data-bs-toggle="pill" data-bs-target="#pills-vors-barhat-myagkiy-krasniy" type="button" role="tab" aria-controls="pills-vors-barhat-myagkiy-krasniy-btn" aria-selected="false"><img class="active" alt="Престиж черный с бежевой / золотистой строчкой" title="Престиж черный с бежевой / золотистой строчкой" src="../../../../../../image/vors/barhat-m/vors-barhat-myagkiy-krasniy-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-vors-barhat-myagkiy-bezheviy-btn" data-bs-toggle="pill" data-bs-target="#pills-vors-barhat-myagkiy-bezheviy" type="button" role="tab" aria-controls="pills-vors-barhat-myagkiy-bezheviy-btn" aria-selected="false"><img class="active" alt="Престиж черный с коричневой строчкой" title="Престиж черный с коричневой строчкой" src="../../../../../../image/vors/barhat-m/vors-barhat-myagkiy-bezheviy-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-vors-barhat-myagkiy-svetlo-korichneviy-btn" data-bs-toggle="pill" data-bs-target="#pills-vors-barhat-myagkiy-svetlo-korichneviy" type="button" role="tab" aria-controls="pills-vors-barhat-myagkiy-svetlo-korichneviy-btn" aria-selected="false"><img class="active" alt="Престиж бежевый с бежевой / золотистой строчкой" title="Престиж бежевый с бежевой / золотистой строчкой" src="../../../../../../image/vors/barhat-m/vors-barhat-myagkiy-svetlo-korichneviy-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-vors-barhat-myagkiy-cherniy-btn" data-bs-toggle="pill" data-bs-target="#pills-vors-barhat-myagkiy-cherniy" type="button" role="tab" aria-controls="pills-vors-barhat-cherniy-btn" aria-selected="false"><img class="active" alt="Престиж бежевый с бежевой / золотистой строчкой" title="Престиж бежевый с бежевой / золотистой строчкой" src="../../../../../../image/vors/barhat-m/vors-barhat-myagkiy-cherniy-mini.jpg" height="50" width="50"></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-vors-barhat-myagkiy-siniy-btn" data-bs-toggle="pill" data-bs-target="#pills-vors-barhat-myagkiy-siniy" type="button" role="tab" aria-controls="pills-vors-barhat-siniy-btn" aria-selected="false"><img class="active" alt="Престиж бежевый с бежевой / золотистой строчкой" title="Престиж бежевый с бежевой / золотистой строчкой" src="../../../../../../image/vors/barhat-m/vors-barhat-myagkiy-siniy-mini.jpg" height="50" width="50"></button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="common__category my-5 py-5 text-white">
    <div class="container text-center">
      <h1 class="pb-3">Виды ковриков</h1>
      <div class="row py-5">

        <div class="col">
          <img class="category__img" src="../../../../../../image/premium/kovrik-premium-cherniy-krasnaya-strochka.jpg" alt="">
          <p class="my-4">Коврики Премиум</p>
          <a href="" class="btn btn-primary">Подробнее</a>
        </div>

        <div class="col">
          <img class="category__img" src="../../../../../../image/luxe/kovrik-luxe-krasniy-chernaya-strochka.jpg" alt="">
          <p class="my-4">Коврики Люкс</p>
          <a href="" class="btn btn-primary">Подробнее</a>
        </div>

      </div>

      <div class="row py-5">
        <div class="col">
          <img class="category__img" src="../../../../../../image/prestige/kovrik-prestige-korichneviy-bezhevaya-strochka.jpg" alt="">
          <p class="my-4">Коврики Престиж</p>
          <a href="" class="btn btn-primary">Подробнее</a>
        </div>

        <div class="col">
        <img class="category__img" src="../../../../../../image/gt/kovrik-gt-cherniy.jpg" alt="">
          <p class="my-4">Коврики GT</p>
          <a href="" class="btn btn-primary">Подробнее</a>
        </div>
      </div>
    </div>
  </section>

  <section class="common__description">
    <div class="container my-2 py-5">
      <div class="row">
        <div class="col">
          <p>Подарите себе невероятные эмоции. Ощутите новый уровень комфорта. 3D-коврики из экокожи созданы для того, чтобы Вы наслаждались атмосферой салона автомобиля, даже если за окном бушует буря. Применяемые в производстве материалы прошли испытание на износостойкость по тесту Мартиндейла, что свидетельствует о высочайшем качестве ковриков и устойчивости их к истиранию.</p>
          <h5>Коврики 3D из экокожи. Достойны Вашего внимания</h5>
          <p>Роскошная линейка материалов позволяет нам предложить Вам комплект, оправдывающий Ваши лучшие ожидания. Широкая цветовая гамма оттенков экокожи и различные варианты отстрочки с 3D-эффектом открывают возможности для создания изысканного интерьер-тюнинга. Коврики из экокожи выглядят стильно и элегантно. Благодаря инновационным технологиям и уникальным решениям мы создаем условия для комфортных поездок. В GRACETOUR есть все необходимое для долгожданного преображения салона Вашего автомобиля.  </p>
          <h5>Впечатляющие особенности ковриков</h5>
          <p>Характеристики, присущие защитным коврам, выведены на принципиально новый уровень. Мягкость и эластичность экокожи позволяет создавать эксклюзивные коврики, которые идеально ложатся в салоне автомобиля. Визуально материал практически не отличается от натуральной кожи, выглядит также респектабельно и дорого. Вместе с тем по эксплуатационным качествам во многом ее превосходит.</p>
          <p>Экокожа имеет хорошую воздухопроницаемость благодаря «дышащему» микропористому верхнему слою из полиуретана. Она пропускает воздух, но не пропускает воду. Это означает, что влага и грязь не проникнут под коврик. Под верхним слоем – вспененная подложка, 100% хлопковый слой и шумоизоляционный материал. Нижний слой-протектор гарантирует защиту от проскальзывания ковров, обеспечивая их плотное прилегание к заводскому покрытию. Среди других характеристик материала – экологичность (экокожа гипоаллергенна, не имеет запаха), морозоустойчивость, износостойкость.</p>
          <h5>Технологии меняют стандарты. 3D коврики меняют всё</h5>
          <p>Главный секрет популярности ковриков из экокожи – идеальный баланс качества, статусности и стоимости. Высоко технологичный материал завоевывает все большее число поклонников среди автолюбителей. 3Д-коврики идеально гармонируют с отделкой интерьера салона. Мы создаем дизайн, достойный автомобилей высокого класса.</p>
        </div>
        <div class="col">
          <p>Вы можете выбрать материал серий:</p>
          <ul>
            <li>Премиум</li>
            <li>Престиж</li>
            <li>Люкс</li>
            <li>GT</li>
          </ul>
          <p>Уровень комфорта оценят не только водитель и передний пассажир, но и пассажиры заднего ряда. Дополнительную защиту обеспечат съемные ворсовые покрытия. Комплекты можно использовать всесезонно. 3D коврики с высокими бортами можно изготовить не только для салона авто, но также для багажного отделения.</p>
          <h5>Дизайнерская концепция, олицетворяющая стиль</h5>
          <p>На Ваш выбор – классические и эксклюзивные современные решения. Вы можете купить коврики из экокожи, подчеркивающие истинных характер Вашего автомобиля. Высококачественные материалы, прошитые эффектной строчкой «ромб» или изысканной прямой строчкой, придают внутреннему пространству салона исключительную аристократичность.</p>
          <p>3D-коврики GRACETOUR – это истинное воплощение революционного дизайна, практически неограниченные возможности для индивидуализации салона. Экокожу можно подобрать в соответствии с цветом отделки автомобиля, скомбинировать два материала, а еще – добавить значок с логотипом. Коврики из экокожи – элегантное сочетание высоких технологий и ручной работы.</p>
          <h5>Индивидуальный пошив</h5>
          <p>Идеальная совместимость ковриков с салоном – цель, к которой стремятся технологи GRACETOUR. Разработка лекала под конкретную марку и модель автомобиля позволяет выпускать изделия, точно повторяющие геометрию салона.  За годы работы на российском рынке нам удалось создать внушительный банк готовых решений. Наша база насчитывает более 1000 лекал для разных авто, начиная от бюджетных и заканчивая роскошными Bentley.</p>
          <p>В случае отсутствия готового лекала, мы можем выполнить индивидуальный заказ. С помощью технологии 3D-сканирования салона Вашего автомобиля мы создадим трехмерную цифровую модель, по которой будет осуществлен точный раскрой и пошив.</p>
          <p>Мы имеем собственное производство в Москве и сеть филиалов в крупных городах России. Возможна доставка в любой город РФ. Для того, чтобы купить коврики GRACETOUR, необходимо оформить заказ в нашем интернет-магазине или оставить заявку через формы обратной связи на сайте.</p>
        </div>
      </div>
    </div>
  </section>


  {# <div id="common-home" class="container-fluid container-lg my-5">
    <div class="row">
      {{ column_left }}
        {% if column_left and column_right %}
        {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
        {% set class = 'col-sm-9' %}
        {% else %}
        {% set class = 'col-sm-12' %}
        {% endif %}
  
      <div id="content" class="{{ class }}">
        {{ content_top }}
        {{ content_bottom }}
      </div>
  
      {{ column_right }}
  
    </div>
  </div> #}

</section>

{{ footer }}